{% extends '::base.html.twig' %}

{% block body -%}
	<div class="center-block">
        <h1>Job creation</h1>
        <br>
    </div>
    <br>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mnk_job') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
